@use '../custom' as *;
@use '../components/mixins' as *;
.intro-section {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
    .profile {
        max-height: 30rem;
    }
    &--about {
        background-color: $black;
        padding: 7rem 0 0 0;
        width: 100%;
        height: 100%;
    }
}

.intros {
    .image-box {
        position: relative;
    }
}