    @use '../custom' as *;
    @use '../components/mixins' as *;
   
    
    .menu {
        background-color: whitesmoke;
        ul {
            li {
                padding: 0 0.7rem;
                a {
                    color: rgba(8, 8, 8, 0.918) !important;
                    text-transform: capitalize;
                    font-weight: 600;
                    &:hover {
                        color: $white !important;
                    }
                }
                &:last-child {
                    display: none;
                    @include media-breakpoint-down(md) {
                        display: block;
                    }
                }
            }
        }
    }
    
    .blog-logo {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }