@use "../custom" as *;
@use "../components/mixins" as *;
.portfolio {
    padding: 4rem 0;
    button {
        text-transform: capitalize;
    }
}

.hello {
    text-transform: capitalize;
}

.portfolio-box {
    position: relative;
    width: 90%;
    max-height: 25rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-radius: 100;
    img {
        width: 100%;
        height: 100%;
    }
    .portfolio-info {
        background-color: rgba($gray-900, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        .caption {
            color: $white;
            position: absolute;
            bottom: 0;
            padding: 0 0 2rem 2rem;
            h4 {
                text-transform: uppercase;
                display: block;
            }
            .small-pic {
                height: 1.4rem;
                width: 1.4rem;
                margin: 0 0.5rem 0.5rem;
            }
        }
    }
    &:hover {
        img {
            transform: scale(1.5);
            @include transitionProperty
        }
        .portfolio-info {
            opacity: 1;
            visibility: visible;
            @include transitionProperty
        }
    }
}

.small-icon {
    font-size: 1.7rem;
    margin: 0 0.5rem;
    text-decoration: none;
}