<article id="aboutSection" class="cf ph3 ph5-ns pv5 bg-near-black blue">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      Nelson IT Student Association
    </h1>
    <time class="f6 ttu tracked gray">Founded 2021</time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="f5 lh-copy  mt0-ns">
       We are a non-profit community of tech lovers that meet up to support one another's development. We are students, professionals, enthusiasts, digital nomads, and everything in between. At the core of NISA is a focus on developing skills and fostering connections that help prepare members for the modern workplace.
    </p>
    <p class="f5 lh-copy ">
        We have three types of members: admins, members, and leaders. Admins are a small group of students that keep the community moving and active. Members are every one that wants to be involved, chances are that anyone reading this is already a member. That was easy. Leaders are local professionals that help guide the organization, making sure that community events are relevant to current industry standards.
    </p>
    <p class="f5 lh-copy ">
         We hold several different activities for members and leaders, but a few core events will be held monthly. The first is a FreeCodeCamp study group, check out our <a class="link dim light-blue underline" href="https://www.facebook.com/groups/nznisa/">Facebook group here</a>. The FreeCodeCamp study group will meet up once or twice during the first two weeks of each month. The second is an end of the month meetup, this is the big one. These meetings will consist of a student presentation, keynote presentations by a leader, an activity, and some time for show and tell. Show and tell is a chance for any member to get up and show us what they have been working on, and maybe find some help from other like-minded members. 
    </p>
  </div>
</article>