<article id="aboutSection" class="cf ph3 ph5-ns pv5 bg-dark-green white">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2 lh-title white fw9 mb3 mt0 pt3 bt bw2">
      Nelson IT Student Association
    </h1>
    <time class="f6 ttu tracked gold">Founded 2021</time>
  </header>
  <div class="fn fl-ns w-50-ns">
    <p class="f5 lh-copy  mt0-ns">
       We are a non-profit community of tech lovers that meet up to support one another's development. We are students, professionals, enthusiasts, digital nomads, and everything in between. Check out our <a class="link dim light-blue underline" href="https://www.facebook.com/groups/nznisa/">Facebook group here</a>.
    </p>
    <p class="f5 lh-copy ">
        We are made up of members and leaders. Members are every one that wants to be involved. Leaders are local professionals that help guide the organization, and most importantly help members prepare to transition into the workforce.
    </p>
    <p class="f5 lh-copy ">
         We hold two core events monthly. The first is a <a class="link dim light-blue underline" href="https://www.freecodecamp.org/">FreeCodeCamp</a> study group. The FCC study group meets up once or twice during the first two weeks of each month. The second event is an end of the month meetup, this is the big one. These will consist of a student presentation, keynote presentations by a leader or two, an activity, and some time for show and tell. Show and tell is a chance for any member to get up and show us what they have been working on, and maybe find some help from other like-minded members. 
    </p>
  </div>
</article>