<footer class="ph3 ph4-ns pv6 bt b--black-10 bg-near-black green">
  <a href="mailto:" class="link b f3 f2-ns dim green lh-solid">hello@email.com</a>
  
  <div class="mt5">
  </div>
  <h6>
      website by {{ site.author }} - &copy; {{ site.copyrightYear }}
  </h6>
</footer>