<footer class="ph3 ph5-ns pv4 bg-dark-green white">
  <h2 class="f4 f2-l">Wanna connect? Send us an email</h2>
  <h2 class="light-green f3 f1-l">nisa.nz@<span>outlook.com</span></h2>
  <div class="mt7 pb2">
    <h6 class="gold f4 ma0">
      made with <a href="https://www.11ty.dev/" class="link dim light-red underline">11ty</a>, <a href="https://tachyons.io/" class="link dim light-red underline">tachyons</a>, and <a href="https://pages.github.com/" class="link dim light-red underline">GitHub Pages</a>
    </h6>
    <h6 class="gold f4 ma0">
        website by {{ site.author }} &copy; {{ site.copyrightYear }}
    </h6>
  </div>
</footer>