<footer class="ph3 ph4-ns pv4 bg-dark-green white">
  <div class="w-90 center">
    <h2 class="f2">Wanna connect? Send us an email</h2>
    <h2 class="light-green f1">nisa.nz@outlook.com</h2>
    <div class="mt7">
      <h6 class="gold f4 ma0">
      made with <a href="https://www.11ty.dev/" class="link dim red underline">11ty</a>, <a href="https://tachyons.io/" class="link dim red underline">tachyons</a>, and <a href="https://pages.github.com/" class="link dim red underline">GitHub Pages</a>
      </h6>
      <h6 class="gold f4 ma0">
        website by {{ site.author }} &copy; {{ site.copyrightYear }}
      </h6>
    </div>
  </div>
</footer>