<footer class="footer">
    <!-- Personal infor -->
    <div class="container">
        <div class="row text-white justify-content-center mt-3 pb-3">
            <div class="col-12 col-sm-6 col-lg-6">
                <h5 class="text-capitalize fw-bold">John Dao</h5>
                <hr class="underline bg-white d-inline-block mb-4">
                <p class="lh-lg">At the moment I am studying my Bachelor in IT as well as working as an admin for NISA (Nelson IT Student Assosciate) but I will always give some room for side projects to improve myself.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-4 mx-auto">
                <h5 class="text-capitalize fw-bold">Menu</h5>
                <hr class="underline bg-white d-inline-block mb-4">
                <ul class="list-inline links-list">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="../pages/about.html">About</a>
                    </li>
                    <li>
                        <a href="../pages/portfolio.html">Portfolio</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-4 mx-auto">
                <h5 class="text-capitalize fw-bold">Useful link</h5>
                <hr class="underline bg-white d-inline-block mb-4">
                <ul class="list-inline links-list">
                    <li>
                        <a href="https://www.freecodecamp.org/">Free code camp</a>
                    </li>
                    <li>
                        <a href="https://www.codecademy.com/">Code academy</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/">LinkedIn Learning</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-4 mx-auto">
                <h5 class="text-capitalize fw-bold">Contact details</h5>
                <hr class="underline bg-white d-inline-block mb-4">
                <ul class="list-inline links-list">
                    <li>
                        <a href="tel:+64274408865">Call Me</a>
                    </li>
                    <li>
                        <a href="mailto:john.d17029@gmail.com">Email me</a>
                    </li>
                    <li>
                        <a href="../index.html#contact">Message me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright info -->
    <div class="footer-bottom pt-3 pb-3">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-md-6 text-start">
                    <div class="footer-bottom__copyright">
                        &COPY;Copyright 2021, Simple Personal portfolio ,Created by <a href="https://www.linkedin.com/in/mrjohndao/">John Dao</a>
                    </div>
                </div>
                <div class="col-md-6 social">
                    <a href="https://www.facebook.com/John.dao95"><i class="fab fa-facebook"></i></a>
                    <a href="https://john-d1729.medium.com/"><i class="fab fa-medium"></i></a>
                    <a href="https://github.com/johndao1005"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/mrjohndao/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>