@use '../custom' as *;
// gradient mixin 
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 1));
}

@mixin bwgradient {
    background: linear-gradient(to right, rgba($white, 0.5), rgba($gray-600, 0.5), $black);
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Transition property
@mixin transitionProperty {
    transition-duration: 500ms;
    transition-property: all;
}

// Mixin collection from internet
// ANCHOR Vendor prefix
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $property}: #{$value};
        }
    }
    #{$property}: #{$value};
}

//Usage: @include prefix(transform, rotate(42deg), webkit ms);
// ANCHOR @inline animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

//Usage: @include animation('slide-left 5s 3');
//ANCHOR transition
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

//Usage: @include transition(all, 0.2s, ease-in-out);
// ANCHOR opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

//Usage: @include opacity(0.8);